.price-logo-btc {
  background: linear-gradient(180deg, #F7931A 0%, rgba(247, 147, 26, 0) 100%);
}

.price-logo-ustd {
  background: linear-gradient(180deg, #F7931A 0%, rgba(247, 147, 26, 0) 100%);
}

.price-logo-uniswap {
  background: linear-gradient(180deg, #F7931A 0%, rgba(247, 147, 26, 0) 100%);
}

.price-logo-btc-blue {
  background: linear-gradient(180deg, #F7931A 0%, rgba(247, 147, 26, 0) 100%);
}

