.price-logo-btc {
  background: linear-gradient(180deg, #F7931A 0%, rgba(247, 147, 26, 0) 100%);
}

.price-logo-ustd {
  background: linear-gradient(180deg, #26A17B 0%, rgba(38, 161, 123, 0) 100%);
}

.price-logo-uniswap {
  background: linear-gradient(180deg, #FF007A 0%, rgba(255, 0, 122, 0) 100%);
}

.price-logo-btc-blue {
  background: linear-gradient(180deg, #516AFF 0%, rgba(81, 106, 255, 0) 100%);
}

